extends ../layout

block content
    .form-container
        form(action=(routes.account + routes.profile), method="post", enctype="multipart/form-data")
            .fileUpload
                label(for="avatar") Avatar
                input(type="file", id="avatar", name="avatar")
            input(type="text", placeholder="Username", name="username", value=user.username)
            input(type="submit", value="Update Profile")
        a.form-container__link(href=(routes.account + routes.password))
            button Change Password