doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title} - YoutubeTS
        link(rel="stylesheet", href="/css/main.css")
        link(href="https://vjs.zencdn.net/7.6.0/video-js.css", rel="stylesheet")
    body
        include partials/flash
        include partials/header
        main
            block content
        include partials/footer
        script(src="/js/main.js")