extends layout

block content
    .form-container
        form(action=routes.login, method="post")
            input(type="email", name="email", placeholder="Email", required)
            input(type="password", name="password", placeholder="Password", required)
            input(type="submit",value="Login")
        .social-login
            button.social-login--github
                a(href=routes.auth + routes.github)
                    span
                        i.fab.fa-github 
                    |Sign in with Github
            button.social-login--google
                a(href=routes.auth + routes.google)
                    span
                        i.fab.fa-google
                    |Sign in with Google