.video-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 850px;
    margin: 0px auto;
    .video-detail__player {
        width: 100%;
        .video-js {
            width: 100%;
        }
    }
    .video-detail__info {
        width: 100%;
        margin-top: 25px;
        button {
            width: 100px;
            margin-bottom: 25px;
        }
        .video-detail__author {
            a {
                color: #3498db;
            }
        }
        .video-detail__title,
        .video-detail__description,
        .video-detail__views {
            display: block;
            margin-bottom: 15px;
        }
        .video-detail__title {
            font-size: 22px;
            font-weight: 300;
        }
        .video-detail__description {
            font-size: 16px;
        }
        .video-detail__views {
            font-size: 14px;
        }
    }
    .video-detail__comments {
        margin-top: 50px;
        width: 100%;
    }
}